<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="autoload.php"
>
    <testsuites>
        <testsuite name="Smoky Modules component test suite">
            <directory>./Tests</directory>
            <directory>./Tests/ModulesManagerTest</directory>
            <directory>./Tests/ModulesEventsTest</directory>
            <directory>./Tests/ModulesTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./Controllers</directory>
            <directory>./Events</directory>
            <directory>./Listener</directory>
            <directory>./Modules</directory>
            <directory>./ModulesManager</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>